* {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 60pt;
    text-align: center;
}

body{
    align-items: center;
    background: #24292E;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

main {
    background: #2F363D;
    color: #fff;
    letter-spacing: 1px;
    min-width: 400px;
    padding: 32px;
}
a {
    color: #0066ff;
    margin: 0 16px;
    text-decoration: none;
}

div:not(:last-child){
    margin-bottom: 16px;
}
img{
    height: 700px;
    width: auto;
}